[user]
	email = 5632815@gmail.com
	name = T0nd0Tara
	user = T0nd0Tara
	password = 
[push]
	autoSetupRemote = true
[init]
 	defaultBranch = "master"
[http]
	sslVerify = true
[credential]
	helper = manager
	credentialStore = secretservice
	helper = /usr/local/bin/git-credential-manager
[core]
	editor = vim
[pull]
	rebase = false
[credential "https://dev.azure.com"]
	useHttpPath = true
[url "https://invent.kde.org/"]
	insteadOf = kde:
[url "ssh://git@invent.kde.org/"]
	pushInsteadOf = kde:
